* {
    font-weight: 500;
}

#Title{
    margin-left: 25vw;
    border-radius: 2vw;
    background: #000;
    width: 20vw;
    height: 5vh;
    font-weight: bolder;
    border: 1px black solid;
    text-align: center;
    color: white;
}

#datePicker {
    width: 10vw;
}
th{
    font-size: 1vw;
    font-weight: bolder;
    color: rgb(75, 75, 75) !important;
}
 body{
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .footer{
    height: fit-content;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    h2{
        
        font-size: 1.5vw !important;
    }
    span{
        font-weight: bolder;
        color: rgb(20, 207, 51);
    }
 }
 .footer button{
    width: 7.5vw;
    font-size: 2vh;
    font-weight: bolder;
 }
 .container{
    width: 100dvw !important;
 }